<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.limantara.eatit" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/EatItTheme" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DisplayResult"
            android:label="@string/title_activity_display_result"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.limantara.eatit.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.RecentSuggestion"
            android:label="@string/title_activity_recent_suggestion" >
        </activity>
        <activity
            android:name=".activity.SetBudget"
            android:label="@string/title_activity_set_budget" >
        </activity>
        <activity
            android:name=".activity.SetDistance"
            android:label="@string/title_activity_set_distance" >
        </activity>
        <activity
            android:name=".activity.SetLocation"
            android:label="@string/title_activity_set_location" >
        </activity>
        <activity
            android:name=".activity.HelpCenter"
            android:label="@string/title_activity_help_center" >
        </activity>
    </application>

</manifest>
